.vorry-image{
    width: 1363px;
    height: 700px;
    border-radius: 14px;
    margin-left: 40px;
    margin-top: 40px;
}
.player-image{
    margin-top: -62px;
    margin-left: 35px;
}
.varry-flex{
    display: flex;
    justify-content: space-between;
}
.klient{
    width: 367px;
    height: 1325px;
    margin-top: 41px;
    margin-right: -60px;
}
.allfa{
    &-dude{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 45px;
        
        color: #192646;
    }
    &-like-and-wiews{
        display: flex;
        justify-content: space-between;
    }
}
.alisa{
    margin-left: 40px;
    margin-right: 170px;
}
.avatarcha-baruxa{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.userni-last-ismi{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
}
.grotin{
    margin-top: -20px;
}
.aligon{
    margin-top: -10px;
    margin-left: 10px;
}
.likesdrop{
    margin-right: 40px;
}
.a-sucses{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    opacity: 0.6;
    width: 740px;
}
.wov-mor{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #C2C2C2;
    
}
.text-opisaniya{
    margin-left: 40px;
}
.apisaniya{
    margin-left: 90px;
}